<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LLMParser</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!-- Customization CSS --> 
  <style>
    .note {
      color: cadetblue; 
      line-height: 1;
    }
  </style>
  <!-- =======================================================
  * Template Name: OnePage
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Parser</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#tryit">TryIt</a></li>
          <li><a class="nav-link scrollto" href="#download">Download</a></li>
          <li><a class="nav-link scrollto o" href="#introduction">Introduction</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>LLM Parser</h1>
          <h2>Welcome</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#tryit" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section>
  
  <main id="main">
    <!-- ======= About Section ======= -->
    <div class="text-center">
      <section id="tryit">
        <div class="container" data-aos="fade-up">
            <h2>Try it</h2>
            <p>Please upload the log file, and we will convert it into an easily understandable format.</p>
            <!--Input-->
            <div class="container my-4">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <!--Input of LogName-->
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="LogName" placeholder="LogName">
                  </div>
                  <!--Input of LogFormat-->
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="LogFormat" placeholder="LogFormat">
                  </div>
                  <!--Input of LogFile-->
                  <div class="input-group">
                    <input type="file" id="fileInput" class="form-control" >
                    <button onclick="uploadFile()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <!--Loading-->
            <div id="loading" class="my-4" style="display: none;">
              <div class="spinner-grow text-primary mx-4" role="status">
                <span class="sr-only"></span>
              </div>
              <div class="spinner-grow text-primary mx-4" role="status">
                <span class="sr-only"></span>
              </div>
              <div class="spinner-grow text-primary mx-4" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <!--message-->
            <p id="message" style="display: none; color: red;">Please fill in all the fields</p>
            <div>
              <h3 class="note my-4">Please note</h3>
              <p class="note">Each log file can only contain a maximum of 15 logs.</p>
              <p class="note">The file name should be '(LogName).log'</p>
              <p class="note">The LogFormat should be &lt;Title1&gt;&lt;Title2&gt..., for example:&lt;Date&gt;&lt;Time&gt;&lt;Pid&gt;&lt;Level&gt;&lt;Component&gt;: &lt;Content&gt;.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- End About Section -->

    <!-- ======= Download Section ======= -->
    <div class="text-center" >
      <section id="download">
        <d class="container" data-aos="fade-up">
            <h2>Download it</h2>
            <!--Input-->
            <div class="container my-4">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <!--Input of LogName-->
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="DownloadLogName" placeholder="DownLogName">
                  </div>
                  <div>
                    <button type="button" onclick="downloadFile()"class="btn btn-outline-primary" style="width: 100%;">Download</button>
                  </div>
                </div>
              </div>
            </div>
            <!--downloadMessage-->
            <p id="downloadMessage" class="my-4" style="display: none; color: red;">Please fill in all the fields</p>
          </div>
        </div>
      </section>
    </div>
    <!-- End Download Section -->

    <!-- ======= Introduction Section ======= -->
    <section id="introduction">
      <!--now structure-->
      <div class="container" data-aos="fade-up">
        <div class="row p-4" style="background-color:cornflowerblue">
          <div class="col-lg-6 video-box align-self-baseline position-relative" data-aos="fade-right" data-aos-delay="100">
            <img src="/static/img/structure/now.drawio.png" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="my-4 col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h2 style="color: white; line-height: 2;">Current Log Parser Architecture</h2>
            <h4 class="fst-italic" style="color: white; line-height: 1.6;">
              To use our system, Users submit unstructured logs on the webpage, and we use the ChatPDF API to communicate with the LLM model with the paper related the concept of log parsing. In the end, structed log file will be generated.
            </h4>
            <h4 class="fst-italic" style="color:brown; line-height: 1.6;">
              Problem: The current architecture can not output correct sturcted log
            </h4>
        </div>
      </div>
      <!--improved structure-->
      <div class="container" data-aos="fade-up">
        <div class="row p-4" style="background-color:white">
          <div class="my-5 col-lg-5 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h2 style="color: black; line-height: 2;">Future Log Parser Architecture</h2>
            <h4 class="fst-italic" style="color: black; line-height: 1.6;">
                To address the issue of inaccurate structured log generation, another API should be used to supervise and validate the generated data.
            </h4>
            <h4 class="fst-italic" style="color:brown; line-height: 1.6;">
                Problem: We need to consider the potential security risks of uploading log files to the server.
            </h4>
        </div>

        <div class="col-lg-7 video-box align-self-baseline position-relative" data-aos="fade-right" data-aos-delay="100">
          <img src="/static/img/structure/improved.drawio.png" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>
      </div>
      <!--security structure-->
      <div class="container" data-aos="fade-up">
        <div class="row p-4" style="background-color:cornflowerblue">
          <div class="col-lg-7 video-box align-self-baseline position-relative" data-aos="fade-right" data-aos-delay="100">
            <img src="/static/img/structure/privacy.drawio.png" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
          <div class="my-5 col-lg-5 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h2 style="color: black; line-height: 2;">Future Log Parser Architecture</h2>
            <h4 class="fst-italic" style="color: black; line-height: 1.6;">
                To address the issue of security risks, we use llama2 and langchain to build loacl ChatPDF.
            </h4>
            <h4 class="fst-italic" style="color:brown; line-height: 1.6;">
                Problem: A liite bit difficult QQ.
            </h4>
        </div>
      </div>
    </section>
    <!-- End Introduction Section -->
  </main>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <!--File upload-->
  <script>
    function uploadFile() {
      const fileInput = document.getElementById('fileInput');
      const LogName = document.getElementById('LogName').value;
      const LogFormat = document.getElementById('LogFormat').value;

      const file = fileInput?fileInput.files[0]:null;

      //Check if the file is exist
      if (file && LogName && LogFormat) {
          const formData = new FormData();
          formData.append('file', file);
          formData.append('LogName', LogName);
          formData.append('LogFormat', LogFormat);

          //Check if the file name is the same as the LogName
          if(file.name != LogName+".log") {
            var loadingText = document.getElementById("message");
            if (loadingText) {
              loadingText.innerHTML = "Please make sure the file name is the same as the LogName"; 
            }
            loadingText.style.display = "block";
            return;
          }

          document.getElementById("loading").style.display = "block";
          document.getElementById("message").style.display = "none";

          // Send the file to the server
          fetch('/upload', {
              method: 'POST',
              body: formData
          })
          .then(response => {
              if (response.ok) {
                  document.getElementById("loading").style.display = "none";
                  var loadingText = document.getElementById("message");
                  if (loadingText) {
                    loadingText.innerHTML = "You can download structured log file now"; 
                  }
                  loadingText.style.display = "block";
              } else {
                document.getElementById("loading").style.display = "none";
                  var loadingText = document.getElementById("message");
                  if (loadingText) {
                    loadingText.innerHTML = "Error during file upload"; 
                  }
                  loadingText.style.display = "block";
              }
          })
          .catch(error => {
            var loadingText = document.getElementById("message");
              if (loadingText) {
                loadingText.innerHTML = "Error during file upload"; 
              }
              loadingText.style.display = "block";
          });
      } else {
          var loadingText = document.getElementById("message");
          if (loadingText) {
            loadingText.innerHTML = "Please fill in all the fields";
          }
          loadingText.style.display = "block";
      }
      return;
    }

    function downloadFile() {
      const LogName = document.getElementById('DownloadLogName').value;

      // Check if the LogName is filled
      if(!LogName) {
        var loadingText = document.getElementById("downloadMessage");
        if (loadingText) {
          loadingText.innerHTML = "Please fill in all the fields";
        }
        loadingText.style.display = "block";
        return;
      }

      // use fetch to check if the file exists
      fetch('/download/check?LogName='+LogName)
        .then(response => {
          if (!response.ok) {
            throw new Error('File not found');
          }

          // if the file exists, download it
          window.location.href = '/download?LogName='+LogName;
        })
        .catch(error => {
          var loadingText = document.getElementById("downloadMessage");
          if (loadingText) {
            loadingText.innerHTML = "Error during file download, please check if the file exists "; 
          }
          loadingText.style.display = "block";
        });
    }
  </script>

</body>

</html>